.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-image h4 {
  color: var(--color-primary-100) !important;
  margin-top: 0.7em;
}

.bg-image p {
  color: var(--neutral-0) !important;
}

.bg-image .bg-blur {
  -webkit-backdrop-filter: blur(100px) grayscale(0.5) opacity(0.8);
  backdrop-filter: blur(100px) grayscale(0.5) opacity(0.8);
}

.no-result a {
  color: var(--color-primary-100);
}

.no-result a:hover {
  color: var(--color-primary-500);
}

article {
  background-color: var(--neutral-400) !important;
  border: 0.3em solid var(--neutral-600) !important;
  /* min-height: 150px; */
  max-width: 400px !important;
}